/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Hover state */
input[type="text"]:hover {
  border-color: #666;
}

/* Active (focused) state */
input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Disabled state */
input[type="text"]:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

/* Normal state */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover state */
button:hover {
  background-color: #6C8CEF;
}

/* Disabled state */
button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}



/* #toastBox{
  position:absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
 flex-direction: column;
 overflow: hidden;
 padding: 20px;
}

.toast{
  width: 380px;
  height: 62px;
  color: white;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.toast i{
  margin: 0 20px;
  font-size: 35px;
 
}


.errorMsg{
background-color: rgb(234, 62, 62);

} */